<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ setting_title }}{% endblock %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/datetime.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-2 d-flex">
                <a href="{% url 'index' %}" class="h-100 w-100 align-items-center justify-content-center d-flex">
                    <img src="{% static 'logo.png' %}" alt="Логотип" class="img-fluid">
                </a>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <h1>{% block header_title %}{{ setting_title }}{% endblock %}</h1>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <div id="current-date-output" class="w-100"></div>
            </div>
        </div>
    </div>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <a href="http://mosaicmed.ru/"><p>МозаикаМед</p></a>
</footer>

<div class="nav-buttons">
    <button onclick="goBack()">Назад</button>
    <button onclick="goHome()">На главную</button>
</div>

<iframe id="external-content" style="display:none;"></iframe>

<script>
    function goBack() {
        window.history.back();
    }

    function goHome() {
        window.location.href = "{% url 'index' %}";
    }
</script>
</body>
</html>
ф